# Ignore this two folders because they are not needed for the project
Theme Add Please/
/ninja
/ninja
/ninja/CMakeFiles
/ninja/CMakeFiles/4.2.3
/ninja/CMakeFiles/4.2.3
/build
/build/CMakeFiles
/build
/build
/build/CMakeFiles/RJLInstaller_autogen.dir
/ninja/CMakeFiles/4.2.3/CompilerIdCXX
